# ---- CORE
RAILS_ENV=
# DB
DB_USER =
DB_PASSWORD=
DB_HOST=
DB_PORT=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Pagination
PAGE_PER=

PROGRAMS_AUTOCOMPLETE_MIN_LENGTH=
# ---- / CORE